/*menu principal*/
.menu__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}

.menu__header{
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu__list{
    display: flex;
    align-items: center;
    gap: 32px;
}

.lista{
    display: flex;
    align-items: center;
}

.menu__list__item a[href="#contacto"]{
    display: none;
}

/*Hero*/

.title__profile{
    order: 3;
}

.title__network{
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 32px;
}

.title__network__item a{
    display: flex;
    align-items: center;
}

.title__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__container{
    display: flex;
    flex-direction: column;
}
/*Sección skills*/
section.skills{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.skills__line{
    display: flex;
}

.skills__box{
    display: flex;
    align-items: flex-end;
}

/*Sección Hobbies*/
section.hobbies{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.hobbies__line{
    display: flex;
}
.hobbies__box{
    display: flex;
    align-items: flex-end;
}

/*Sección de Formación académica*/
.academic__title{
    display:flex;
    justify-content: center;
}
.academic__courses{
    display:flex;
    justify-content: center;
}
.academic__courses__item__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.academic__courses__list{
    display: flex;
    flex-direction: column;
}
/* experiencia*/
.experiences__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.experience__section__title{
    display: flex;
    justify-content: center;
}
.experience__box{
    display: flex;
    align-items: center;
}

.experience__box:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
}
.experience__box:nth-child(4){
    display: flex;
    flex-direction: row-reverse;
}
/*Contacto*/
section.formcontato{
    display: flex;
    justify-content: center;
}
.formcontato__text{
    display: flex;
    flex-direction: column;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
}
.formcontato__contacto{
    display: flex;
}

label{
    padding: 7px 12px;
}

/*Footer*/

section.footer{
    display: flex ;
    justify-content: center;
}
.footer__rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*Tablet*/
@media (max-width: 768px) {

    /* Menú */
    .menu__container{
        height: 56px;
        justify-content: space-between;
    }

    /*title*/
    .title__network{
        margin-top: 8px;
    }
    
    /*Experiencia Profesional*/
    .experience__box{
        align-items: initial;
    }
    .experience__box:nth-child(2),.experience__box:nth-child(4){
        flex-direction: column;
    }
    }

    /*Mobile*/
@media (max-width: 430px) {

    /*Menu*/
    
    /*Titulo*/
    .title__div{
        justify-content: initial;
        align-items: normal;
        flex-direction: column-reverse;
    }
    .title__network{
        margin-top: 16px;
    }
    /*Sección sobre mi*/
    
    /*Skills*/
    
    /*Hobbies*/
     
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
     /*Contacto*/
    
    /*Footer*/
    
    }